<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Your Casa Block!</title>
    <meta name="description" content="WELCOME TO THE THUNDERDOME">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>THUNDERDOME</h1>
    </header>
    <section class="status well">
      <h2>Bitcoin:</h2><i id="bitcoin-address"></i>
      <ul id="bitcoin-status"></ul>
      <a href="#" id="enable-bitcoin">enable</a>
      <a href="#" id="disable-bitcoin">disable</a>
      <a href="#" id="clean-bitcoin">reset</a>
    </section>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/dashboard.js"></script>
    <footer></footer>
  </body>
</html>
